.scl--table-container {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  border-radius: 4px;
  /* overflow-x: auto; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.dark .scl--table-container {
  background-color: rgba(23, 23, 23, 1);
}

.scl--flex-table {
  width: 100%;
  border-collapse: collapse;
  /* min-width: 800px; */
}

.scl--flex-table th,
.scl--flex-table td {
  height: 45px;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  padding: 0px 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0px;
  color: #667085;
}

.dark .scl--flex-table th,
.dark .scl--flex-table td {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  color: #ffff
}

/* Set header width */
.scl--flex-table th.username,
.scl--flex-table td.username {
  min-width: 200px;
  max-width: 400px;
  width: 300px;
  word-break: break-word;
}

.scl--flex-table th.description,
.scl--flex-table td.description {
  min-width: 250px;
  max-width: 500px;
  width: 350px;
  word-break: break-word;
}

.scl--flex-table th {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0px;
  background-color: #fcfcfd;
  color: #667085;
}

.dark .scl--flex-table th{
  background-color: rgba(23, 23, 23, 1);
}

.scl--flex-table tr:hover {
  background-color: #f9f9f9;
}

.dark .scl--flex-table tr:hover {
  background-color: rgba(226, 231, 235, 0.1);
}

.scl--avatar-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.scl--avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.scl--status-badge {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 4px;
  padding-top: 2px;
  padding-right: 8px;
  padding-bottom: 2px;
  padding-left: 6px;
  border-radius: 999px;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0;
}

.scl--action-cell {
  cursor: pointer;
  text-align: center;
  position: relative;
}

.scl--action-cell-span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-align: center;
  padding: 8px 14px;
  border-radius: 4px;

  transition: background-color 0.25s ease;
}

.scl--action-cell-span:hover {
  background-color: #e2e7eb80;
}

.scl--popup-menu {
  position: absolute;
  top: 62%;
  right: 59%;
  background-color: #fff;
  width: 103px;
  z-index: 10;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  /* Animation setup */
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;

  /* Transition properties */
  transition:
    opacity 1s ease,
    transform 1s ease;
}

.scl--popup-menu.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.scl--popup-menu.align-left {
  right: auto;
  left: 0;
}

.scl--popup-menu.align-up {
  top: auto;
  bottom: 80%;
}

.scl--popup-menu ul {
  list-style: none;
  padding: 8px;
  background: var(--background-color);
  box-shadow: 4px 8px 32px 0 #0000003d;
  border-radius: 4px;
}

.scl--popup-menu ul li {
  width: 86px;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #fff;
  padding: 4px 0;
  padding-left: 8px;
  border-radius: 4px;
}

.dark .scl--popup-menu ul li svg path {
  fill: white;
}

.dark .scl--popup-menu ul li{
  background-color: rgba(23, 23, 23, 1);
}

.scl--popup-text-color {
  color: #17171799;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0;
}

.dark .scl--popup-text-color{
  color: #ffff;
}

.scl--popup-menu ul li:hover {
  background-color: #f9f9f9;
}

.dark .scl--popup-menu ul li:hover{
  background-color: rgba(226, 231, 235, 0.2);
}

/* Pagination */
.scl--flex-table-footer {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  /* padding: 0 18px; */
  margin-top: 12px;
}

.scl--flex-table-perpage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

.scl--flex-table-perpage-label {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
  color: rgba(155, 152, 152, 1);
}

.dark .scl--flex-table-perpage-label{
  color: #fff;
}

.scl--flex-table-perpage-select-page {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 12px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  color: rgba(155, 152, 152, 1);
  position: relative;
}

.dark .scl--flex-table-perpage-select-page{
  color: #fff;
  border: 1px solid rgba(189, 189, 189, 1);
}

.scl--flex-table-selectpage {
  width: 100%;
  border: none;
  background: transparent;
  font-size: 14px;
  color: rgba(155, 152, 152, 1);
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 12px;
  cursor: pointer;
}

.dark .scl--flex-table-selectpage{
  color: #fff;
}

select option {
  width: 70px;
}

.dark select option{
  color: #fff;
  background-color: rgba(23, 23, 23, 1);
  margin-top: 10px;
}

.scl--flex-table-perpage-select-page::after {
  content: '';
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid rgba(155, 152, 152, 1);
  pointer-events: none;
}

.dark .scl--flex-table-perpage-select-page::after{
  border-top: 5px solid #fff;
}

.scl--flex-table-perpage-select-page svg {
  flex-shrink: 0;
  margin-left: 4px;
  cursor: pointer;
}

.dark .scl--action-cell-span svg path{
  fill: #fff;
}

.scl--flex-table-selectpage:focus {
  background-color: transparent;
  outline: none;
}

.scl--flex-table-number {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
  color: rgba(155, 152, 152, 1);
}

.dark .scl--flex-table-number{
  color: #fff;
}

.scl--flex-table-numberpage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scl--flex-table-numberpage button {
  border: none;
  color: #4f4f4f;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  gap: 10px;

  border-radius: 4px;
}

.dark .scl--flex-table-numberpage button{
  color: #fff;
  background-color: transparent;
}

.scl--flex-table-numberpage button:hover {
  background-color: rgba(226, 231, 235, 0.5);
  cursor: pointer;
}

.scl--flex-table-numberpage button.active {
  background-color: rgba(226, 231, 235, 0.5);
  color: rgba(79, 79, 79, 1);
  border-color: #2563eb;
}

.dark .scl--flex-table-numberpage button.active{
  background-color: transparent;
}

.scl--flex-table-numberpage button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.scl--flex-table-numberpage-list li:hover {
  background-color: darkgray;
  cursor: pointer;
}
