.scl--table-container {
    background-color: #fff;
    border-radius: 4px;
    overflow-x: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.scl--flex-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
}

.scl--flex-table th,
.scl--flex-table td {
    height: 45px;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    padding: 0px 18px;
    text-align: left;
    font-size: 14px;
    color: #8A92A6;
}

/* Set header width */
.scl--flex-table th.username,
.scl--flex-table td.username {
    min-width: 200px;
    max-width: 400px;
    width: 300px;
    word-break: break-word;
}

.scl--flex-table th.description,
.scl--flex-table td.description {
    min-width: 250px;
    max-width: 500px;
    width: 350px;
    word-break: break-word;
}

.scl--flex-table th {
    background-color: #fff;
    font-weight: 600;
    color: #6b7280;
}

.scl--flex-table tr:hover {
    background-color: #f9f9f9;
}

.scl--avatar-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.scl--avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}

.scl--status-badge {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 4px;
    padding: 2px 8px;
    border-radius: 999px;
    color: #fff;
    font-size: 12px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
}

.scl--action-cell {
    cursor: pointer;
    text-align: center;
    position: relative;
}

.scl--popup-menu {
    position: absolute;
    top: 62%;
    right: 60%;
    background-color: #fff;
    width: 103px;
    height: fit-content;
    z-index: 10;
    border-radius: 4px;
}

.scl--popup-menu.up {
    bottom: 100%;
}

.scl--popup-menu.down {
    top: 100%;
}

.scl--popup-menu ul {
    list-style: none;
    padding: 8px;
    background: #FFFFFF;
    box-shadow: 4px 8px 32px 0 #0000003D;
    border-radius: 4px;
}

.scl--popup-menu ul li {
    width: 86px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #fff;
    padding: 4px 0;
    padding-left: 8px;
    border-radius: 4px;
}

.scl--popup-text-color {
    color: #17171799;
    border-radius: 4px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0;
}

.scl--popup-menu ul li:hover {
    background-color: #f9f9f9;
}

.scl--flex-table-footer {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    /*background-color: gray;*/
    margin-top: 12px;
}

.scl--flex-table-perpage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.scl--flex-table-perpage-label {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0;
    color: #212529;
}

.scl--flex-table-perpage-select-page {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 12px;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    color: #212529;
    position: relative;
}

.scl--flex-table-selectpage {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 14px;
    color: #212529;
    outline: none;
    appearance: none; /* Removes default arrow in Chrome/Safari */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 12px;
    cursor: pointer;
}

.scl--flex-table-perpage-select-page::after {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #212529;
    pointer-events: none;
}

.scl--flex-table-perpage-select-page svg {
    flex-shrink: 0;
    margin-left: 4px;
    cursor: pointer;
}

.scl--flex-table-selectpage:focus {
    background-color: transparent;
    outline: none;
}

.scl--flex-table-number {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0;
    color: #212529;
}

.scl--flex-table-numberpage {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scl--flex-table-numberpage button {
    border: none;
    color: #4F4F4F;
    padding: 4px 18px;
    border-radius: 4px;
}

.scl--flex-table-numberpage button:hover {
    background-color: darkgray;
    cursor: pointer;
}

.scl--flex-table-numberpage button.active {
    background-color: #2563eb;
    color: white;
    border-color: #2563eb;
}

.scl--flex-table-numberpage button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

/*.scl--flex-table-numberpage-list {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.scl--flex-table-numberpage-list li {*/
/*    padding: 6px 18px;*/
/*    font-family: sans-serif;*/
/*    font-weight: 400;*/
/*    font-size: 12px;*/
/*    line-height: 160%;*/
/*    letter-spacing: 0;*/
/*    color: #4F4F4F;*/
/*    border-radius: 4px;*/
/*}*/

.scl--flex-table-numberpage-list li:hover {
    background-color: darkgray;
    cursor: pointer;
}