.scl--card-item-container{
    width: 25%;
    height: 140px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.scl--card-item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
}

.scl--card-item-header,
.scl--card-item-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.scl--card-item-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.scl--card-item-icon-svg{
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    border-radius: 8px;
}

.scl--card-item-icon-title{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    color: #1D2630;
}

.scl--login-item-action-cell{
    display: grid;
    place-items: center;
}

.scl--card-item-footer-number{
    width: fit-content;
}

.scl--card-item-footer-number h4{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 0;
    color: #1D2630;
}

.scl--card-item-footer-persentage{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.scl--card-item-footer-persentage-number{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0;
}