.scl--primary-button-container{
    /* Button */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;

    width: 70px;
    height: 31px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #3B82F6;
    box-shadow: 0px 1px 2px rgba(37, 62, 167, 0.48), 0px 0px 0px 1px #375DFB;
    border-radius: 4px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0;
    text-align: center;
    color: white;
}

.scl--primary-button-container:hover{
    cursor: pointer;
}